.header {
  position:fixed;
	display:block;
	width: 100%;
	z-index:9;
}

.navbar-inverse {
  background-color: #333 !important;
}

a.navbar-brand {
  font-family: 'Slabo 27px', serif;
  color: #f2f2f2 !important;
  font-size: 25px;
}

ul.navbar-nav li a {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #279AD8 !important;
}

ul.navbar-nav li a:hover {
  color: #51a8d7 !important;
}

li.menu-link a {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Suez One', serif !important;
}

h1 {
  color: #f2f2f2 !important;
  font-size: 8rem !important;
}

h2 {
  font-size: 4rem !important;
}

h2, h3, h4, h5, p {
  color: #333 !important;
}

p, li {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.5rem !important;
}

a.body-link {
  color: #1c1b1b !important;
  text-decoration: underline !important;
}
